/*//// Data ////*/

@font-face {
    font-family: 'SF-Pro';
    src: url('./Assets/SF-Pro.otf') format("otf");
}

@font-face {
    font-family: NovaSquare;
    src: url('./Assets/Nova.ttf') format("truetype");
}

:root {
    /* Properties */
    --MainFont: 'SF-Pro', sans-serif;
    --TechFont: NovaSquare, cursive;

    /* Color */
    --BarRed: #87837e;
    --BarGreen: #c78c42;
    --Other: #d1c8bc;
    --Outline: #7a7a7a;
    --Content: #c4bbbb;
    --Text: #5e5e5e;
    --Select: #858585;
    --TableBlack: #a1a1a1;
    --TableWhite: gray;
    --Labels: #474747;
    --LabelText: white;
}

/*//// General ////*/

body {
    margin: 0;
    padding: 0;
    background-color: #EDEDE9;
    overflow: hidden;
    background-color: var(--Content);
}

#App {
    width: 100%;
    height: 100%;
}

#Warn {
    height: 20vh; width: 40vw;
    border-radius: 1vw;
    background-color: red;
    z-index: 500;
    position: absolute; margin: auto;
    top: 5vh; left: 0; right: 0;
    color: white;
    font-family: var(--TechFont);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity .4s;
}

/*//// Navigation ////*/

#AppTitle {
    width: 15vw;
    padding: 0 2vw 0 2vw;
    font-size: 4.5vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(1.5vw);
    font-family: var(--TechFont);
}

#Header {
    background-color: var(--Other);
    border-bottom: solid .3vh var(--Outline);
    height: 7vh;
    display: flex;
    transition: background-color .3s;
    z-index: 200;
} 

#Nav {
    font-size: 2vw;
    font-family: var(--MainFont);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: .1vw .1vw black;
    position: relative;
    height: 100%;
    width: 85vw;
} #Header .tab:nth-child(1) { border-left: solid .1vw var(--Outline); }

#Header .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2vw 0 2vw;
    color: var(--Text);
    border-right: solid .1vw var(--Outline);
    height: 100%;
    cursor: pointer;
    width: 25%;
    background-color: inherit;
    transition: color .2s, background-color .2s, text-shadow .2s, border .3s;
} 

#Header .tab:hover {
    color: var(--Other);
    background-color: var(--Text);
    text-shadow: none;
}

#Header #SelectUnderline {
    position: absolute; margin: auto;
    left: 0; right: 0; bottom: 0;
    width: 19%;
    border-radius: .4vw;
    opacity: 0;
    transition: opacity .2s, height .2s, left .2s;
    pointer-events: none;
    background-color: var(--Other);
} 

#Header .tab:hover ~ #SelectUnderline { opacity: 1; height: .4vh; }
#Header #BrowserWin:hover ~ #SelectUnderline { left: -49.5vw }
#Header #InfoWin:hover ~ #SelectUnderline { left: 0%; }
#Header #AboutWin:hover ~ #SelectUnderline { right: -49.5vw; }

/*//// Content ////*/

.menu {
    width: 100%;
    height: 83vh;
    transition: background-color .3s, opacity .5s;
    position: absolute; 
    top: 7.3vh;
}

#ContentLogin { 
    opacity: 0;
    background-color: var(--Content);
    z-index: 200;
    height: 100vh;
    top: 0;
}

#Login,
#Register {
    position: absolute; margin: auto;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--Select);
    width: 50vw; height: 55vh;
    padding-top: 5vh;
    border-radius: 3vw;
    text-align: center;
    overflow: hidden;
    transition: transform .7s;
    transition-timing-function: linear;
} #Register { transform: rotateY(180deg); z-index: -1; }

#Login h1,
#Register h1 {
    width: 100; height: 1em;
    color: white;
    font-family: var(--MainFont);
    font-size: 6vw;
    transform: translateX(3.7vw);
    text-shadow: .2vw .2vw .5vw black;
}

#Login p,
#Register p {
    color: var(--Text);
    font-family: var(--TechFont);
    font-size: 3vw;
    font-weight: bold;
    text-shadow: .2vw .2vw .3vw black;
}

#Login Input,
#Register Input {
    border-radius: .5vw;
    background-color: var(--TableBlack);
    color: white; outline: none;
    height: 1em;
    text-align: center;
    padding: .5vh 0 .5vh 0;
    font-size: 2vw;
    font-family: var(--MainFont);
}

#ToRegister,
#ToLogin {
    position: absolute; margin: auto;
    right: 0; bottom: 0;
    width: 15vw; height: 5vw;
    border-top-left-radius: 1vw;
    color: #b3b3b3;
    font-family: var(--MainFont);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--MainFont);
    text-shadow: .1vw .1vw .2vw black;
    background-color: var(--TableBlack);
    font-size: 2.5vw;
    font-weight: bold;
}

#ToRegister:hover,
#ToLogin:hover { color: white; }

#SubmitRegister,
#SubmitLogin {
    padding: 1vh 3vw 1vh 3vw;
    color: #b3b3b3;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: var(--MainFont);
    text-shadow: .1vw .1vw .2vw black;
    background-color: var(--TableBlack);
    width: 5vw; height: 1em;
    border-radius: 1vw;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#SubmitRegister:hover,
#SubmitLogin:hover { color: white; }


#FilterContainer {
    width: max-content;
    height: 3vh;
    transform: translateY(1vh);
    margin-left: auto; margin-right: auto;
}

#FilterContainer .filter_option {
    width: max-content;
    height: .8em;
    border-radius: 3vw;
    background-color: gray;
    color: white;
    font-family: var(--TechFont);
    font-size: 2.5vw;
    padding: 1.5vh 1.5vw 1.9vh 1.5vw;
    margin-left: 2vw;
    cursor: pointer;
    float: left;
} 

#FilterContainer .filter_option:hover { background-color: black; }

#ProblemList {
    width: 100%;
    height: calc(100% - 3vh);
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ProblemFilterCont {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#SearchProblems {
    width: 50%;
    font-size: 1.8vw;
    padding: .5vh 0 .5vh 0;
    border-radius: .5vw;
    background-color: var(--Select);
    margin-left: auto; margin-right: auto;
}

#SearchProblems input {
    width: 80%;
    height: 105%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 2vh;
    color: white;
    margin-left: 1vw;
}

#ProblemList Table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 4vw;
}

#ProblemList Tr:nth-child(1) {
    color: var(--LabelText);
    background-color: var(--Labels);
}

#ProblemList Td {
    width: 100%;
    height: 3em;
    padding: .5vh;
    background-color: inherit;
    color: inherit;
    font-family: var(--MainFont);
    text-align: center;
    font-size: 1.7vw;
    text-shadow: .1vw .1vw .2vw black;
}

.question {
    cursor: pointer;
} .question:hover {
    color: white;
    font-weight: bold;
    transition: font-weight .3s, color .3s;
}

#PageSelect { 
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: .9vh;
    z-index: 20;
    position: absolute; margin: auto;
    left: 0; right: 0; bottom: 0; top: 76.5vh;
}

#PageSelect .page { 
    border-radius: 100%;
    background-color: var(--TableBlack);
    height: 1.8vw; width: 1.8vw;
    cursor: pointer;
    transition: .2s background-color, transform .2s;
} 
#PageSelect .page:hover { background-color: gray; }

#PageSelect .page:nth-child(1) {
    transform: scale(1.5);
}

#ContentResource { 
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#ContentResource .module {
    height: 70vh;
    width: 80vw;
    border-radius: 2vh;
    background-color: var(--Other);
    box-shadow: .4vw .4vw 2cqi gray;
    transition: box-shadow .5s;
    display: flex;
    align-items: center;
    position: relative;
    overflow-y: hidden;
}

#ContentResource .module:hover {
    box-shadow: .4vw .4vw 4vw gray;
}

#ContentResource .module_icon {
    height: 20vw;
    width: 20vw;
    border-radius: 1vw;
    position: absolute; margin: auto;
    top: 4vw; left: 4vw;
    background: url('./Assets/Wiki.png');
    background-size: cover;
}

#ContentResource h1 {
    display: block;
    width: max-width; height: 1em;
    position: absolute; margin: auto;
    top: 3vh; right: 4vw;
    width: 50vw;
    text-align: center;
    font-family: var(--TechFont);
    color: gray;
    font-size: 3vw;
}

#ContentResource Input {
    background-color: var(--Select);
    outline: none; border: none;
    position: absolute; margin: auto;
    right: 4vw; top: 10vh;
    width: 50vw;
    color: white;
    height: 1em;
    padding: .5vh 0 .5vh 0;
    text-align: center;
    font-size: 2w;
    border-radius: .5vw;
}

#ContentResource #WikiResults {
    width: 80%; height: 30vh;
    position: absolute; margin: auto;
    top: -5vh; right: 0; bottom: 0; left: 15vw;
    display: flex; flex-direction: column;
}

#ContentResource Span {
    font-size: 3vw;
    color: white;
    font-family: var(--TechFont);
    text-align: center;
}

#ContentResource a {
    color: var(--Text);
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-top: 2vh;
    font-family: var(--MainFont);
}

#ContentAbout { 
    opacity: 0;
}

#ContentAbout #ShellhacksLogo {
    position: absolute; margin: auto;
    top: -20vh; right: 0; bottom: 0; left: 0;
    background: url('./Assets/shellhackslogo.gif');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vw;
    width: 50vh;
}

#ContentAbout p {
    display: block; 
    margin: auto; position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    font-family: var(--MainFont);
    width: max-content;
    height: max-content;
}

#ContentAbout h1 {
    display: block; 
    margin: auto; position: absolute;
    top: -75vw; left: 0; right: 0; bottom: 0;
    font-family: var(--MainFont);
    font-size: 4vw;
    color: #636363;
    width: max-content;
    height: max-content;
    text-shadow: .3vw .3vw .4vw black;
}

#ContentAbout .year {
    top: -50vw; left: 42vw; 
    font-family: var(--MainFont);
    font-size: 4vw;
    color: white;
}

#ContentAbout .desc {
    width: 70%;
    font-size: 3vw;
    top: -5vh;
    text-align: center;
    color: #404040;
    text-shadow: .1vw .1vw black;
}

#ContentAbout .tools {
    font-size: 3vw;
    top: 14vh;
}

#ContentAbout .us-being-awesome {
    position: absolute; margin: auto;
    top: 0; bottom: -45vh; left: 0; right: 0;
    width: 85vw; height: 27vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto; margin-right: auto;
    flex-wrap: wrap;
}

#ContentAbout .us-being-awesome .us {
    height: 20vw;
    width: 20vw;
    background-size: cover;
    margin-top: 1vh;
    position: relative;
    box-shadow: inset 2vw 2vw 6vw 2vw var(--Content), inset -2vw -2vw 6vw 2vw  var(--Content);
}

#ContentAbout .us-being-awesome .role {
    font-size: 1.5vw;
    color: #636363;
    font-family: var(--MainFont);
    height: 5vw;
    width: 20vw;
    font-size: 2vw;
    text-align: center;
}

.us-being-awesome .role span { 
    color: #525252;
    font-weight: bold;
}

.us-being-awesome .left { transform: translateX(-7vw) rotate(-10deg); }
.us-being-awesome .right { transform: translateX(-2vw) rotate(10deg); }

.us-being-awesome div:nth-child(1) { background: url('./Assets/Michael.png'); }
.us-being-awesome div:nth-child(3) { background: url('./Assets/Alex.png'); }
.us-being-awesome div:nth-child(5) { background: url('./Assets/John.png'); }
.us-being-awesome div:nth-child(8) { background: url('./Assets/Alm.png'); }


.spotlight {
    pointer-events: none;
    position: absolute; margin: auto;
    left: 0; right: 0; bottom: 0; top: 0;
    width: 80vw; height: 80vw;
    background-color: #c4bbbb !important;
    border-radius: 100%;
    box-shadow: 2vw 2vw 3vw 2vw #c4bbbb, -2vw -2vw 5vw 2vw #c4bbbb;
    z-index: 0; opacity: .3;
    background-image: none !important;
}

#ContentAnswer {
    opacity: 0;
}

#ContentAnswer h1 {
    width: 100%;
    text-align: center;
    font-family: var(--TechFont);
    color: #636363;
}

#ChoiceCont {
    border: outset 1vw #6e6e6e;
    background-color: var(--Select);
    margin-left: auto; margin-right: auto;
    font-size: 5vw;
    color: var(--Content);
    padding: .5vh 1vw .5vw 1vw;
    border-radius: 1vw;
    font-family: var(--MainFont);
    min-width: 60%;
    padding: 2vh 2vw 2vh 2vw;
}

#ChoiceCont Span { margin-left: 2vw; }

#GoBack,
#Submit {
    height: 10vh;
    width: 10vw;
    position: absolute; margin: auto;
    background-color: #636363;
    border-radius: 0 2vw 2vw 0;
    box-shadow: .2vw .2vw black;
    color: #c4bbbb;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5vw;
    transition: .3s color;
    cursor: pointer;
    text-shadow: .2vw .2vw black;
} 

#GoBack { left: 0; bottom: 3vh; border-radius: 0 2vw 2vw 0; }
#Submit { right: 0; bottom: 3vh; border-radius: 2vw 0 0 2vw; }

#GoBack:hover,
#Submit:hover { color: white; }

/*//// Information ////*/

#Info {
    position: absolute; bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--Other);
    border-top: solid .3vh  var(--Outline);
    display: flex;
    align-items: center;
    transition: background-color .3s, border .3s;
    z-index: 50;
}

#InfoDisplayCont {
    width: 50%;
    height: max-content;
    display: flex;
    align-items: center;
    cursor: help;
    height: 100%;
}

#Info #AccIcon {
    border-radius: 100%;
    background-color: pink;
    height: 7vh; width: 7vh;
    position: absolute; margin: auto;
    bottom: 0; top: 0; right: -88vw; left: 0;
    border: solid .3vh #7a7a7a;
    background: URL('');
    background-size: contain;
}

#NightLight {
    height: 80%;
    width: 2.5vh;
    background-color: var(--BarRed);
    border: solid .3vh var(--Outline);
    border-radius: 3vh;
    position: absolute; margin: auto;
    bottom: 0; top: 0; left: 15vw;
    cursor: pointer;
    overflow: hidden;
    padding: 0 .5vw 0 .5vw;
}

#NightLight #CelestialBody {
    position: absolute; margin: auto;
    left: 0; right: 0; top: .5vh;
    width: 3.5vh; height: 3.5vh;
    border-radius: 100%;
    background-color: rgba(230, 158, 87, .7);
    transition-duration: .4s;
}

#CelestialBody div { 
    background-color: #dec34e;
    width: 2.5vh; height: 2.5vh;
    border-radius: inherit;
    position: inherit; margin: inherit;
    top: 0; right: 0; bottom: 0; left: 0;
}

#Info .info_bar {
    width: 15vw;
    height: 2.5vh;
    border-radius: 2vw;
    background: linear-gradient(90deg, var(--BarGreen) 35%, var(--BarRed) 35%, var(--BarRed) 100%); 
    margin-left: .5vw;
    color: rgba(255, 255, 255, 0);
    font-family: var(--MainFont);
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    position: relative;
    transition: width .2s, border .2s, color .2s, height .2s;
} 

#InfoDisplayCont:hover .info_bar {
    width: 5vh;
    height: 5vh;
    background: var(--BarGreen);
    color: rgba(255, 255, 255, 1);
    text-shadow: .2vw .2vw .4vw black;
    border-radius: 100%;
} 

#InfoDisplayCont .mask {
    height: inherit;
    width: 0;
    overflow: hidden;
    transition: width .4s;
    color: var(--Text);
    font-weight: bold;
    font-family: var(--MainFont);
    text-align: center;
    height: max-content;
    padding-left: 1vw;
}

#InfoDisplayCont:hover .mask {
    width: 10vw;
    display: block;
}

#Info .icon {
    margin-left: 5vw;
    font-size: 3vh;
    transform: translateY(-.3vh);
}

/*//// Smaller Screens ////*/

@media (max-width: 1850px) {

    /* Content */

    #Login h1,
    #Register h1 {
        transform: translateX(.5vw);
    }

    /* Information */

    #NightLight { right: -70vw;}
    #PageSelect { top: 73.5vh;}

    #SubmitRegister { margin-bottom: 10vh; }

}

/*//// Larger Screens ////*/

@media (min-width: 1850px) {

    /* Content */

    #FilterContainer {
        transform: translateY(1vh);
    }

    #FilterContainer .filter_option {
        font-size: 2.5vh;
        margin-left: 1vw;
    }

    #ProblemFilterCont { margin-left: 1vw; }
    #PageSelect .page { height: 1vw; width: 1vw;}

    #Login h1,
    #Register h1 {
        font-size: 3vw;
        transform: translate(3.7vw, -2vh);
    }
    
    #Login p,
    #Register p {
        font-size: 3vw;
        margin-top: 0;
    }
    
    #Login Input,
    #Register Input {
        font-size: 2vw;
        margin-top: -5vh;
    }
    
    #ToRegister,
    #ToLogin {
        right: 0; bottom: 0;
        font-size: 2.5vw;
    }

    #SubmitRegister,
    #SubmitLogin {
        font-size: 2.5vw;
        margin-top: 3vh;
    }
    
    #ContentAbout p {
        display: block; 
        margin: auto; position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        font-family: var(--MainFont);
        width: max-content;
        height: max-content;
    }
    
    #ContentAbout h1 {
        display: block; 
        margin: auto; position: absolute;
        top: -75vw; left: 0; right: 0; bottom: 0;
        font-family: var(--MainFont);
        font-size: 4vw;
        color: #636363;
        width: max-content;
        height: max-content;
        text-shadow: .3vw .3vw .4vw black;
    }

    #ContentAbout #ShellhacksLogo {
        transform: translateY(20vh);
        position: absolute; margin: auto;
        top: -20vh; right: 0; bottom: 0; left: 0;
        background: url('./Assets/shellhackslogo.gif');
        background-size: contain;
        background-repeat: no-repeat;
        height: 50vw;
        width: 50vh;
    }

    #ContentAbout .spotlight {
        height: 60vw;
        width: 60vw;
    }
    
    #ContentAbout .year {
        top: -50vw; left: 42vw; 
        font-size: 3vw;
        transform: translate(-8vw, 18vh)
    }
    
    #ContentAbout .desc {
        font-size: 1.5vw;
        width: 90%;
        transform: translateY(-4vw);
    }
    
    #ContentAbout .tools {
        font-size: 2vw;
        transform: translateY(-5vw);
    }
    
    #ContentAbout .us-being-awesome {
        width: 45vw; 
        height: 16vw;
        transform: translateY(-3vh);
    }

    #ContentAbout .us { 
        background-position-y: 2px;
    }
    
    #ContentAbout .us-being-awesome .us {
        height: 10vw;
        width: 10vw;
        box-shadow: inset 2vw 2vw 3vw .5vw var(--Content), inset -2vw -2vw 3vw .5vw  var(--Content)
    }
    
    #ContentAbout .us-being-awesome .role {
        font-size: 1.5vw;
        width: 10vw;
    }
    

    /* Information */

    #NightLight { right: -75vw; }

    .info_bar { font-size: 1vw !important; }
    .mask { font-size: 1.3vw !important; }
}

/*//// Text Highlight Tags ////*/

.tag { 
    height: .8em;
    width: .8em;
    border-radius: 100%;
    color: white;
    display: inline-block;
}

.Easy_tag { background-color: #23ba4c !important; }
.Medium_tag { background-color: #a87132 !important; }
.Hard_tag { background-color: #a83a32 !important; }

.Complete_tag { 
    color: #0e4508 !important;
    font-weight: bold;
}

.Incomplete_tag { 
    color: #a1100b !important;
    font-weight: bold;
}

._false { border: .1vh solid var(--TableBlack); }
._true { border: .1vh solid var(--TableWhite); }